/* goggle font */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Roboto&display=swap");

/* variable */
:root {
  --clr-primary: #ff4879;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --tran: linear 0.3s;
  --libre: "Libre Franklin", sans-serif;
  --bold: 700;
  --light: 400;
  --roboto: "Roboto", sans-serif;
  --mpadding: 0.5rem;
  --radius: 7px;
  --max: 1200px;
}
/* virables ends here */

/* default styling */
*:before,
*:after {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/* default styling ends here */

/* general styling */
.btn {
  padding: 0.5rem;
  background-color: var(--clr-black);
  border-radius: 8px;
  transition: var(--tran);
  outline: none;
  border: none;
}

.toggle i {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  color: inherit;
}

h2,
h3 {
  font-family: var(--libre);
  font-weight: var(--bold);
}

p {
  color: rgba(255, 255, 255, 0.836);
}
/* general styling ends here */

body {
  background: url(./img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--libre);
  font-weight: var(--light);
  color: var(--clr-white);
  line-height: 1.5;
  font-size: 1.35em;
  /* height: 100%; */
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

#header {
  background-color: transparent;
}

nav {
  background-color: transparent;
  /* padding: 0 2rem; */
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000000;
}

.nav-logo img {
  width: 12rem;
  /* background-color: greenyellow; */
}

.menu {
  /* background-color: green; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--mpadding);
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.menu button {
  background: transparent;
}

.toggle i {
  color: var(--clr-primary);
  transition: var(--tran);
}

.nav-ul {
  background-color: var(--clr-white);
  transition: var(--tran);

  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}

.diplay-ul {
  height: auto;
}

.di-toggle {
  color: #000000;
}

.di-toggle i {
  color: var(--clr-white);
  background-color: var(--clr-primary);
  padding: var(--mpadding);
  border-radius: 7px;
}

.max {
  max-width: var(--max);
}

.navp {
  /* background-color: var(--clr-primary); */
  text-align: center;
  padding-bottom: 1rem;
  text-transform: capitalize;
  color: #ff4879 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  transition: var(--tran);
  border-radius: 30px;
  padding: 0.5rem;
}

.navp1 {
  background-color: var(--clr-primary);
  color: var(--clr-white) !important;
}

.navp1 span {
  display: inline-block;
}

.nav-span {
  display: none;
  transition: var(--tran);
  padding: 1rem;
  background-color: var(--clr-primary);
  border-radius: 8px;
  color: #ffffff;
  font-size: 0.5em;
  text-align: center;
}

.navp:hover > {
  display: none;
  transition: var(--tran);
  background-color: red;
  /* display: block; */
}

.navp:hover > .nav-span {
  display: inline-block;
}

.nav-ul > li:hover span {
  display: block;
}

#main {
  /* background-color: red; */
  padding: var(--mpadding);
}

.main-div {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-txt {
  /* background-color: greenyellow; */
  padding-top: 5rem;
  /* margin: 0 auto; */
  padding-left: var(--mpadding);
  transform: translateX(-200%);
  /* animation-name: maintxt; */
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  padding-bottom: 2rem;
}

@keyframes maintxt {
  to {
    transform: translateX(0);
  }
}


.main-img {
  display: grid;
  place-items: center;
  /* background-color: red; */
  padding-top: 4rem;
}

.logo2 {
  width: 20rem;
  transform: translateX(200%);
  /* animation-name: logo2a; */
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes logo2a {
  to {
    transform: translateX(0);
  }
}

.main-txt h2 {
  line-height: 0.8;
}

.main-txt p {
  font-size: 0.7em;
  max-width: 30rem;
  justify-self: start;
  /* background-color: red; */
  padding-right: 1rem;
  line-height: 1.2;
  padding-left: 1rem;
  padding-top: 1rem;
}

.thead{
  padding-left: 1rem;
  margin-bottom: 1rem;
}


.title {
  padding: 0.5rem;
  background-color: var(--clr-primary);
  border-radius: var(--radius);
  width: max-content;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-align: center;
  /* margin: 0 auto; */
}

h2:nth-child(2) {
  color: var(--clr-white);
  font-size: 3em;
}

h2:nth-child(3) {
  font-size: 1.5em;
}


.arrow {
  /* background-color: red; */
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30rem;
}

.right-arrow {
  width: 1rem;
  height: 20rem;
  background-color: var(--clr-primary);
  position: absolute;
  right: 0;
  top: 25%;
  border-radius: var(--radius);
}

.skew {
  height: 5rem;
  width: 60%;
  /* background-color: red; */
  position: absolute;
  left: 0;
  bottom: 3rem;
  position: relative;
  display: none;
}

.skew img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.pre-loader {
  min-height: 100vh;
  width: 100%;
  background-color: var(--clr-primary);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #000000;
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 1s linear infinite;
}

.stop-preloader {
  display: none;
}

@media screen and (min-width: 800px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
  .toggle {
    display: none;
  }
  nav {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0000005e;
    padding-right: 1rem;
    /* height: 3.5rem; */
    /* background-color: transparent; */
    padding: 0 2rem;
  }
  .menu {
    width: max-content;
    display: flex;
    flex-direction: row;
  }
  .nav-ul {
    background-color: var(--clr-white);
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: auto;
    /* background-color: transparent; */
    padding: 0 3rem;
    text-align: center;
    border-radius: 44px;
  }

  .navp {
    font-size: 0.7em;
  }

  .menu {
    background-color: transparent;
  }
  .arrow {
    width: 25rem;
    transition: var(--tran);
  }
  .arrow:hover {
    scale: 1.2;
  }
  .right-arrow {
    width: 0.5rem;
  }
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .main-div {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-img {
    order: 2;
    justify-self: flex-end;
    /* background-color: red; */
    width: 50%;
  }
  .main-txt {
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .thead{
    padding-left: 0;
  }

  .main-txt p{
    padding-left: 0;
    padding-top: 0;
  }
  .skew {
    bottom: -0.5rem;
    display: block;
  }

  .logo2 {
    transition: var(--tran);
  }

  .logo2:hover {
    scale: 1.2;
  }
  
}
